<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>core</display-name>
	<description>core</description>

	<context-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>authenticatedNone</param-name>
		<param-value>
		    /ext4/**/**;
		    /final/**/**;
		    /resources/**/**;
		    /**/**.htm*;
		    /**/**.js;
		    /**/**.css;
			/p.do;
		    /p/main*.do
		</param-value>
	</context-param>
	<context-param>
		<param-name>pluginsPath</param-name>
		<param-value>plugins</param-value>
	</context-param>	
	<!-- cas config -->
	<context-param>
		<param-name>serverName</param-name>
		<param-value>/</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<param-value>/cas/login</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLogoutUrl</param-name>
		<param-value>/cas/logout</param-value>
	</context-param>
	<context-param>
		<param-name>casServerUrlPrefix</param-name>
		<param-value>/cas</param-value>
	</context-param>

	<description>用于单点退出，该过滤器用于实现单点登出功能，可选配置</description>
	<listener>
		<listener-class>cn.gotom.sso.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>SingleSignOutFilter</filter-name>
		<filter-class>cn.gotom.sso.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SingleSignOutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>cn.gotom.servlet.GuiceListener</listener-class>
	</listener>	
	<filter>
		<filter-name>GuiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/final/404.jsp</location>
	</error-page>
	<!-- 
	<error-page>
		<error-code>500</error-code>
		<location>/final/500.jsp</location>
	</error-page>	
 	-->	
</web-app>
