<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>core</display-name>
	<description>core</description>

	<context-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- cas config -->
	<context-param>
		<param-name>serverName</param-name>
		<param-value>http://localhost:8080</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<param-value>http://localhost:8080/cas/login</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLogoutUrl</param-name>
		<param-value>http://localhost:8080/cas/logout</param-value>
	</context-param>
	<context-param>
		<param-name>casServerUrlPrefix</param-name>
		<param-value>http://localhost:8080/cas</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>cn.gotom.servlet.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- <filter> <filter-name>AuthenticatedService</filter-name> <filter-class>cn.gotom.auth.server.AuthenticatedService</filter-class> 
		</filter> <filter-mapping> <filter-name>AuthenticatedService</filter-name> 
		<url-pattern>/AuthenticatedService</url-pattern> </filter-mapping> -->
	<description>用于单点退出，该过滤器用于实现单点登出功能，可选配置</description>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<description> 该过滤器用于实现单点登出功能，必配 </description>
	<filter>
		<filter-name>SingleSignOutFilter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SingleSignOutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <description>该过滤器负责用户的认证工作，必配 </description> <filter> <filter-name>CASFilter</filter-name> 
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>CASFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> <description>该过滤器负责对Ticket的校验工作，必配</description> <filter> 
		<filter-name>CASValidationFilter</filter-name> <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>CASValidationFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> <description>该过滤器负责实现HttpServletRequest请求的包裹，比如允许开发者通过HttpServletRequest的getRemoteUser()方法获得SSO登录用户的登录名，可选配置</description> 
		<filter> <filter-name>CASHttpServletRequestWrapperFilter</filter-name> <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>CASHttpServletRequestWrapperFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->
	<!-- cas config end -->
	<listener>
		<listener-class>cn.gotom.servlet.GuiceListener</listener-class>
	</listener>

	<filter>
		<filter-name>GuiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
	    <welcome-file>default.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/final/404.jsp</location>
	</error-page>
	<!-- 
	<error-page>
		<error-code>500</error-code>
		<location>/final/500.jsp</location>
	</error-page>	
 	-->	
</web-app>
