<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">
	<display-name>core</display-name>
	<description>core</description>
	<context-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>无须登陆可访问资源</description>
		<param-name>authenticationNone</param-name>
		<param-value>
		    /ext4/**,
		    /resources/**,
		    /**/**.js,
		    /websocket.js
		</param-value>
	</context-param>
	<context-param>
		<description>启动后直接执行的程序，继承cn.gotom.service.InitializeService接口，分号分隔多个接口</description>
		<param-name>initializeService</param-name>
		<param-value>cn.gotom.service.Service</param-value>
	</context-param>
	<context-param>
		<description>ext 插件工程目录 {工程名/classes}</description>
		<param-name>pluginsPath</param-name>
		<param-value>/plugins</param-value>
	</context-param>
	<!-- <context-param> <description>单点验证服务器(公网)</description> <param-name>serverName</param-name> 
		<param-value>http://www.gotom.cn</param-value> </context-param> -->
	<context-param>
		<description>单点验证URL ${this}=contextPath</description>
		<param-name>serverLoginUrl</param-name>
		<param-value>${this}/login.do</param-value>
	</context-param>
	<listener>
		<listener-class>cn.gotom.sso.server.TicketHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>cn.gotom.servlet.GuiceListener</listener-class>
	</listener>
	<filter>
		<filter-name>GuiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/error/404.jsp</location>
	</error-page>
</web-app>